$bg: #f0f0ff;
$search: #ebebeb;
$cap: #4a4d4a;
$icon: #001569;
$content: #1f347b;
$accent: #ffaf37;

%rubik-300{
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}
%rubik-400{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}
%rubik-500{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}
%rubik-700{
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}
%montserrat-500{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
%montserrat-600{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
%montserrat-700{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}